**1.Casefold()Method** :- Converts the first character to lower case

In [3]:
 #Example1
message = "This,Is Jagruti"
m = message.casefold()
print(m)

this,is jagruti

In [5]:
#Example2
txt = "Hello,And Welcome To My Wrold"
x = txt.casefold()
print(x)

hello,and welcome to my wrold

**2.Capitalize()Method** :-  Converts the first character to upper case

In [8]:
#Example1
txt = "Hello,and welcome to my wrold"
x = txt.capitalize()
print(x)

Hello,and welcome to my wrold

In [140]:
#Example2
movie = "Stree2, Release Soon"
m = movie.capitalize()
print(m)

Stree2, release soon

**3.Center()Method** :-Returns a centers string

In [143]:
#Example1
Fruit = "Strawberry"
F = Fruit.center(50)
print(F)

                    Strawberry

In [145]:
#Example2
Vegitable = "Cabbage"
V = Vegitable.center(100)
print(V)

                                              Cabbage

**4.Count()Method** :-Returns a number of times a specified value occurs in a string

In [148]:
#Example1
Hobbies = "I love to make painting,painting is my fav Hobbie"
H = Hobbies.count("painting")
print(H)

2

In [150]:
#Example2
Info = "Roses are red,most of the people like Roses,Roses are littel expensives than other flowers,Roses are avilable in different colours"
S = Info.count("Roses")
print(S)

4

**5.encode()Method** :-Returns a encoded verion of string

In [155]:
#Example1
Name = "My name is j@gruti"
output = Name.encode()
print(output)

b'My name is j@gruti'

In [157]:
#Example2
Message = "Hello,Python!"
encode_Message = Message.encode()
print(encode_Message)

b'Hello,Python!'

**6.endswith()Method** :-Returns TRUE if the string ends with the specified value

In [162]:
#Example1
student = "There are 90 students in one class"
s = student.endswith("for")
print(s)

False

In [160]:
#Example2
Language = "python is my fav programming language"
L = Language.endswith("language")
print(L)

True

**7.expandtabs()Method** :-set the tab size of the string

In [165]:
#Example1
text = "Hello\tWorld"
result = text.expandtabs(4)
print(result)

Hello   World

In [167]:
#Example2
Message = "Black\tis\tmy\tfav\tcolour"
output = Message.expandtabs(20)
print(output)

Black               is                  my                  fav                 colour

**8.find()Method** :-Search the string for a specified value and returns the poistion of where it was found

In [38]:
#Example1
Text = "Python Developer is one of the best developer job"
output = Text.find("one")
print(output)

20

In [40]:
#Example2
Text = "I love pets"
R = Text.find("pets")
print(R)

7

**9.format()Method** :-Formats specified values in a string

In [43]:
#Example1
Age = "my age is 22"
A = Age.format(22)
print(A)

my age is 22

In [45]:
#Example2
Age = " my name is jagruti and my age is 22"
A = Age.format("jagruti",22)
print(A)

 my name is jagruti and my age is 22

**10.index()Method** :-Searches the string for a specified value and returns the position of where it was found

In [48]:
#Example1
Flowers = "Sunflower,Rose,Lily,Jasmin"
F = Flowers.index("f")
print(F)

3

In [50]:
#Example2
Numbers = 30,40,50,100,340
N = Numbers.index(100)
print(N)

3

**11.isalnum()Method** :-Returns True if all characters in the string are alphanumeric

In [53]:
#Example1
Name = "jagruti"
output = Name.isalnum()
print(output)

True

In [55]:
#Example2
Name = "jagruti 12"
output = Name.isalnum()
print(output)

False

**12.isalpha()Method** :-Returns True if all characters in the string are in the alphabet

In [58]:
#Example1
Flower = "Lotus"
returnValue = Flower.isalpha()
print(returnValue)

True

In [60]:
#Example2
Vegitable = "Cabbage12334433"
returnValue = Vegitable.isalpha()
print(returnValue)

False

**13.isascii()Method** :-Returns True if all characters in the string are ascii characters

In [63]:
#Example1
Text = "DeltaX"
output = Text.isascii()
print(output)

True

In [65]:
#Example2
Text = "***"
output = Text.isascii()
print(output)

True

**14.isdecimal()Method** :-Returns True if all characters in the string are decimals

In [68]:
#Example1
Text = ""
output = Text.isdecimal()
print(output)

False

In [70]:
#Example2
message = "1111"
output = message.isdecimal()
print(output)

True

**15.isdigit()Method** :-Returns True if all characters in the string are digits

In [73]:
#Example1
Text = "jagruti"
Return = Text.isdecimal()
print(Return)

False

In [75]:
#Example2
Text = "35235437672368"
Return = Text.isdecimal()
print(Return)

True

**16.isidentifier()Method** :-Returns True if the string is an identifier

In [78]:
#Example1
A = "Local area netwrok"
Return = A.isidentifier()
print(Return)

False

In [80]:
#Example2
B = "Jagruti"
Return = B.isidentifier()
print(Return)

True

**17.islower()Method** :-Returns True if all characters in the string are lower case

In [4]:
#Example1
Char = "Iphone is very costly"
output = Char.islower()
print(output)

False

In [2]:
#Example2
Flower = "black rose is expensive than other flowers"
A = Flower.islower()
print(A)

True

**18.isnumeric()Method** :-Returns True if all characters in the string are lower case

In [6]:
#Example1
Number = "1324252252"
output = Number.isnumeric()
print(output)

True

In [3]:
#Example2
Char = "Choclate"
output = Char.isnumeric()
print = (output)

**19.isprintable()Method** :-Returns True if all characters in the string are printable

In [6]:
 #Example1
Text = "Pyhton is very eazy"
output = Text.isprintable()
print(output)

True

In [14]:
#Example2
Text = "Pyhton is \n eazy"
output = Text.isprintable()
print(output)

False

**20.isspace()Method** :-Returns True if all characters in the string are whitespaces

In [26]:
#Example1
Text = "ARC is located at nandanvan"
print (Text.isspace())

False

In [28]:
#Example2
Text = "   "
print (Text.isspace())

True

**21.istitle()Method** :-Returns True if the string follows the rules of a title

In [30]:
#Example1
Text = "APPLE IS RED IN COLOUR"
print(Text.istitle())

False

In [34]:
#Example2
Text = "Apple"
print(Text.istitle())

True

**22.isupper()method** :-Returns True if all characters in the string are upper case

In [39]:
#Example1
Text = "HELLO INDIA"
print(Text.isupper())

True

In [41]:
#Example2
Text = "hello INDIA"
print(Text.isupper())

False

**23.join()Method** :-Converts the elements of an iterable into a string

In [52]:
#Example1
MyFriend = ("Akshay","Jagruti","Sejal","Sanskruti")
X = ','.join(MyFriend)
print(X)

Akshay,Jagruti,Sejal,Sanskruti

In [58]:
#Example2
MyDict = ("name","akshay","city","amravati")
X = ':'.join(MyDict)
print(X)

name:akshay:city:amravati

**24.ljust()Method** :-Returns a left justified version of the string

In [67]:
#Example1
Txt = "Strawberry"
A = Txt.ljust(20)
print(A,"is my favorite fruit")

Strawberry           is my favorite fruit

In [71]:
#Example2
Txt = "ARC"
A = Txt.ljust(40)
print(A,"TECHNOLOGY")

ARC                                      TECHNOLOGY

**25.lstrip()Method** :-Returns a left trim version of the string

In [74]:
#Example1
Txt = "......////--Pyhton"
T = Txt.lstrip("./-")
print(T)

Pyhton

In [78]:
#Example2
Txt = "       INDIA        "
T = Txt.lstrip()
print(T)

INDIA

**26.maketrans()Method** :-Returns a translation table to be used in translations

In [88]:
#Example1
Txt = " welco INDIA"
T = Txt.maketrans("welco","hello")
print(T)

{119: 104, 101: 101, 108: 108, 99: 108, 111: 111}

In [97]:
#Example2
Txt = "goodi morining"
T = Txt.maketrans("goodi","hello")
print(T)

{103: 104, 111: 108, 100: 108, 105: 111}

**27.partition()Method** :-Returns a tuple where the string is parted into three parts

In [100]:
#Example1
Txt = "girls love makeup"
T = Txt.partition("love")
print(T)

('girls ', 'love', ' makeup')

In [102]:
#Example2
Txt = "Python string partition method"
T = Txt.partition("partition")
print(T)

('Python string ', 'partition', ' method')

**29.replace()Method** :-Returns a string where a specified value is replaced with a specified value

In [109]:
#Example1
Txt = "Hello, world"
new_txt = Txt.replace("world","Jagruti")
print(new_txt)

Hello, Jagruti

In [111]:
#Example2
Txt = "I love apple.apple is my fav fruit"
new_txt = Txt.replace("apple","mango")
print(new_txt)

I love mango.mango is my fav fruit

**30.rfind()Method** :-Searches the string for a specified value and returns the last position of where it was found

In [118]:
#Example1
Txt = "Hello, world"
new_txt = Txt.rfind("world")
print(new_txt)

7

In [122]:
#Example2
Txt = "I love apple.apple is my fav fruit"
new_txt = Txt.rfind("fruit")
print(new_txt)

29

**31.rindex()Method** :-Searches the string for a specified value and returns the last position of where it was found

In [127]:
Txt = "Hello, world"
new_txt = Txt.rindex("d")
print(new_txt)

11

In [129]:
#Example2
Txt = "I love apple.apple is my fav fruit"
new_txt = Txt.rfind("t")
print(new_txt)

33

**32.rjust()Method** :-Returns a right justified version of the string

In [12]:
#Example1
Txt = "Learning never stop"
output = Txt.rjust(40,"*")
print(output)

*********************Learning never stop

In [14]:
#Example2
Txt = "Jagruti"
output = Txt.rjust(20,"-")
print(output)

-------------Jagruti

**33.rpartition()Method** :-Returns a tuple where the string is parted into three parts

In [24]:
#Example1
sentence = "Data analysis is fun,data science is powerfull"
result = sentence.rpartition("data")
print(result)

('Data analysis is fun,', 'data', ' science is powerfull')

In [28]:
#Example2
sentence = "The girl name was jagruti,and she is 22 year old ,jagruti is live in nagpur"
result = sentence.rpartition("jagruti")
print(result)

('The girl name was jagruti,and she is 22 year old ,', 'jagruti', ' is live in nagpur')

**34.rsplit()Method** :-Splits the string at the specified separator, and returns a list

In [31]:
#Example1
Txt = "INDIA,USA,DUBAI,LANDON"
output = Txt.rsplit(",")
print(output)

['INDIA', 'USA', 'DUBAI', 'LANDON']

In [35]:
#Example2
Txt = "Apple,Banana,Cherry,Mango"
output = Txt.rsplit(",",2)
print(output)

['Apple,Banana', 'Cherry', 'Mango']

**35.rstrip()Method** :-Returns a right trim version of the string

In [50]:
#Example1
Txt = "Strawberry,,,,ssqqww...."
output = Txt.rstrip(",.qsw")
print(output)

Strawberry

In [54]:
#Example2
Txt = "    Apple    "
output = Txt.rstrip()
print("i just love",output,"more than other fruit")

i just love     Apple more than other fruit

**36.split()Method** :-Splits the string at the specified separator, and returns a list

In [59]:
#Example1
Txt = "welcome to most beautiful place INDIA"
output = Txt.split()
print(output)

['welcome', 'to', 'most', 'beautiful', 'place', 'INDIA']

In [61]:
#Example2
Txt = "I have 2 dogs in my house and all of are so cute and loyal"
output = Txt.split()
print(output)

['I', 'have', '2', 'dogs', 'in', 'my', 'house', 'and', 'all', 'of', 'are', 'so', 'cute', 'and', 'loyal']

**37.splitlines()Method** :-Splits the string at line breaks and returns a list

In [66]:
#Example1
Txt = "maggie\nBurger\nPizaa\nSandwhich"
output = Txt.splitlines()
print(output)

['maggie', 'Burger', 'Pizaa', 'Sandwhich']

In [72]:
#Example2
Txt = """This is first line.This is second line.This is third line"""
Lines = Txt.splitlines()
print(Lines)

['This is first line.This is second line.This is third line']

**38.startswith()Method** :-Returns true if the string starts with the specified value

In [77]:
#Example1
message = "I Really appreciate your support"
output = message.startswith("I")
print(output)

True

In [79]:
#Example2
message = "I Really appreciate your support"
output = message.startswith("Really")
print(output)

False

**39.swapcase()Method** :-Swaps cases, lower case becomes upper case and vice versa

In [82]:
#Example1
Inspiration = "Dream Big,WORk harD,achIEve succeSS"
output = Inspiration.swapcase()
print(output)

dREAM bIG,worK HARd,ACHieVE SUCCEss

In [84]:
#Example2
Inspiration = "NEver GIVE UP on your DREAms"
output = Inspiration.swapcase()
print(output)

neVER give up ON YOUR dreaMS

**40.title()Method** :-Converts the first character of each word to upper case

In [87]:
#Example1
Encouragement = "you got this ! keep going"
output = Encouragement.title()
print(output)

You Got This ! Keep Going

In [93]:
#Example2
Encouragement = "believe in yourself"
output = Encouragement.title()
print(output)

Believe In Yourself

**41.translate()Method** :-Returns a translated string

In [114]:
#Example1
Greeting = "Good morining"
mydict = str.maketrans("G","m")
print(Greeting.translate(mydict))

mood morining

In [120]:
#Example2
Greeting = "Good Night Sam"
mydict = (109,108)
print(Greeting.translate(mydict))

Good Night Sam

**42.upper()Method** :-Converts a string into upper case

In [123]:
#Example1
Txt = "Books are knowledge"
output = Txt.upper()
print(output)

BOOKS ARE KNOWLEDGE

In [125]:
#Example2
Txt = "i love dogs"
output = Txt.upper()
print(output)

I LOVE DOGS

**43.zfill()Method** :-Fills the string with a specified number of 0 values at the beginning

In [130]:
#Example2
Txt = "10.000"
output = Txt.zfill(10)
print(output)

000010.000